<div class="jumbotron center">
	<h1>Welcome to Marrative!</h1>
	<p>
       <%= link_to "Log insngphilippasongsongphilippa.ohh529", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>